:root {
    --neon-green: hsl(150, 100%, 66%);
    --grayish-blue: hsl(217, 19%, 38%);
    --dark-grayish-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);
    --weight: 800;
}

body {
    margin: 0;
    font-size: 28px;
    font-family: 'DM Sans', sans-serif;
    background: var(--dark-blue);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--dark-grayish-blue);
    width: 15em;
    padding: 3rem;
    border-radius: 1rem;
    position: relative;
}

.advice-id {
    color: var(--neon-green);
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 3px;
    padding: 1em;
}

q {
    quotes: "“" "”";
}
q::before {
    content: open-quote;
}
q::after {
    content: close-quote;
}

.advice-text {
    color: white;
    text-align: center;
    font-weight: var(--weight);
}

#mobile-divider {display: none;}

@media (max-width: 768px) {
    #desktop-divider {display: none;}
    #mobile-divider {display: block;}
    .flex {
        width: 20rem;
        padding: 1rem;
    }
}

.divider-padding {
    padding: 1em 0;
}

#dice {
    position: absolute;
    background: var(--neon-green);
    border-radius: 50%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -30px;
    cursor: pointer;
}

#dice:hover {
    -webkit-box-shadow: 0px 0px 30px 5px var(--neon-green);
    -moz-box-shadow: 0px 0px 30px 5px var(--neon-green);
    box-shadow: 0px 0px 30px 5px var(--neon-green);
}